* {
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 14%;
    background-color: aqua;
}
.navbar li {
    margin: 29px;
    justify-content: space-evenly;
}
.content {
    padding-top: 130px;
    justify-content: space-between;
    width: 300%;
    height: 150%;
}
.box {
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    color: white;
}
.content img {
    width: 100%;
    height: 100%;
}